* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #000021;
    color: white;
    font-family: 'Poppins', sans-serif;
  
  }

  section {
    margin-bottom: 85px;
    margin-top: 5px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #12123e;
    overflow: visible;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .section-offset {
    scroll-margin-top: 90px;
  }
  
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  nav ul li a:hover {
    font-size: 1.02rem;
    color: #9999e2;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 23px;
    position: relative;
  }
  
  .left {
    font-size: 1.5rem;
  }
  
  .firstsection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
    align-items: center;
  }
  
  .firstsection>div {
    width: 31%;
  
  }
  .am {
    display: flex;
    justify-content: space-around;
    margin: 130px 60px;
    align-items: center;
  }

  .am>div {
    width: 50%;
  
  }
  
  .leftsection {
    font-size: 32.5px;
  }

  .am-text {
    font-size: 17.5px;

  }
  
  .rightsection img {
    width: 450px;
    height: 450px;
    margin: 55px 0;
  }

  /* new2 image */
  .leftsection img {
    width: 760px;
    height: 500px;
    margin: 5px 10px 0px 30px;
  }

  
  .purple {
    color: #aa6be4;
  }
  
  #element {
    color: #aa6be4;
  }
  
  /** Second Section **/
  
  .secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }

  main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
  }

  .secondsection h1 {
    font-size: 1.9rem;
  }

  .text-gray {
    color: gray;
  }
  
  .secondsection .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }

  .secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 150px;
  }

  .vertical-text {
    position: relative;
    top: 72px;
    width: 200px;
  }

  .vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
  }

  .image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
  }

  footer {
    background-color: #0e0e1a;
  }

  .footer {
    display: flex;
    padding: 23px 122px ;
    justify-content: space-evenly;
  }

  .footer ul {
    list-style: none;
  }

  .footer > div {
    width: 223px;
  }

  footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
    
  }

  .leftsection .btns{
    padding: 12px;
    background:#1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
  }

  .leftsection .buttons{
    padding: 50px 0;
  }

  .dropdown {
    display: none;
  }
  nav ul li:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:#12123e;
    font-size: 11px;
    align-items: center;
   
  }

  .dropdown ul {
    display: block;
    margin: 10px;
  }

  .dropdown ul li{
    width: 130px;
    padding: 10px;
  }

  @media screen and (max-width:600px)
  {
    nav {
      height: 150px;
    }
    .left {
      font-size: 3rem;
    }
    .firstsection>div {
      width: 400px;
      margin-left: 600px;
    
    }
    .leftsection {
      font-size: 6rem;
    }
    .firstsection {
      margin: 300px 280px;
    }
    .leftsection .btns{
      padding: 22px;
      background:#1e2167;
      color: white;
      border: 2px solid white;
      border-radius: 6px;
      font-size: 20px;
      cursor: pointer;
    }
    main hr {
      border: 0;
      background: #9c97f1;
      height: 1.2px;
      margin: 60px 0;
      width: 300%;
    }
    .secondsection .box{
      background-color: white;
      width: 258vw;
      height: 2px;
      margin: 56px 0;
      display: flex;
    }
    .secondsection h1 {
      font-size: 2.9rem;
      margin-bottom: 120px;
    }

    footer .footer-rights{
      text-align: center;
      color: gray;
      width: 90%;
      margin-left: 400px;
      
    }
    footer .footer-first{
      display: flex;
      justify-content: flex-end;
      margin: 5px 500px;
    }

  }


/*Certifications Section styling*/

[type=radio]{
  display: none;

}
#slider{
  height: 37vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label{
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.7s ease ;
}

/* 10 slides perfect*/

#s1:checked ~ #slide9, #s2:checked ~ #slide10,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3, #s6:checked ~ #slide4,
#s7:checked ~ #slide5 , #s8:checked ~ #slide6,
#s9:checked ~ #slide7 , #s10:checked ~ #slide8 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide10, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4, #s6:checked ~ #slide5,
#s7:checked ~ #slide6 , #s8:checked ~ #slide7,
#s9:checked ~ #slide8 , #s10:checked ~ #slide9 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5, #s6:checked ~ #slide6,
#s7:checked ~ #slide7, #s8:checked ~ #slide8,
#s9:checked ~ #slide9 , #s10:checked ~ #slide10 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide6, #s6:checked ~ #slide7,
#s7:checked ~ #slide8, #s8:checked ~ #slide9,
#s9:checked ~ #slide10 , #s10:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide6,
#s5:checked ~ #slide7, #s6:checked ~ #slide8,
#s7:checked ~ #slide9, #s8:checked ~ #slide10,
#s9:checked ~ #slide1, #s10:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide6, #s4:checked ~ #slide7,
#s5:checked ~ #slide8, #s6:checked ~ #slide9,
#s7:checked ~ #slide10, #s8:checked ~ #slide1,
#s9:checked ~ #slide2, #s10:checked ~ #slide3  {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide6,
#s3:checked ~ #slide7, #s4:checked ~ #slide8,
#s5:checked ~ #slide9, #s6:checked ~ #slide10,
#s7:checked ~ #slide1, #s8:checked ~ #slide2,
#s9:checked ~ #slide3, #s10:checked ~ #slide4 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
} 
#s1:checked ~ #slide6, #s2:checked ~ #slide7,
#s3:checked ~ #slide8, #s4:checked ~ #slide9,
#s5:checked ~ #slide10, #s6:checked ~ #slide1,
#s7:checked ~ #slide2, #s8:checked ~ #slide3,
#s9:checked ~ #slide4, #s10:checked ~ #slide5 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
} 
#s1:checked ~ #slide7, #s2:checked ~ #slide8,
#s3:checked ~ #slide9, #s4:checked ~ #slide10,
#s5:checked ~ #slide1, #s6:checked ~ #slide2,
#s7:checked ~ #slide3, #s8:checked ~ #slide4,
#s9:checked ~ #slide5, #s10:checked ~ #slide6 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
} 
#s1:checked ~ #slide8, #s2:checked ~ #slide9,
#s3:checked ~ #slide10, #s4:checked ~ #slide1,
#s5:checked ~ #slide2, #s6:checked ~ #slide3,
#s7:checked ~ #slide4, #s8:checked ~ #slide5,
#s9:checked ~ #slide6, #s10:checked ~ #slide7 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
} 


/* Project section styling */
.card {
  cursor: pointer;
}

.card:hover {
  background-color: rgb(248, 248, 248);
  border: 4px solid white;
}
.projectIcon {
  font-size: 35px;
  cursor: pointer;
}

.youtubeicon {
  font-size: 40px;
  color: red;
  cursor: pointer;
}

/*contact styling */
.contacticon1 {
  font-size: 38px;
}
.contacticon2 {
  font-size: 30px;
}

.contacticon3 {
  font-size: 28px;
}
